h1 {
  color: rgb(0, 123, 255);
  text-align: center;
  margin: 10px auto;
}

.col-3 {
  color: rgb(54, 60, 153);
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;

}

.search-form {
  background-color: rgb(43, 189, 226);
  margin: 10px auto;
  border-color: rgb(21, 141, 174);
}

.temperature {

  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-details {
  font-style: oblique;
  ;
}


.col-2 {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: center;
}



.container {
  border-radius: 50px;
  border-style: groove;
  margin: 30px auto;
 margin-bottom: 30px;
}

.temp-emoji {
  text-align: center;
  font-size: 34px;
  font-weight: 200;
}

body {}