h1 {
  color: rgb(0, 123, 255);
  text-align: center;
  margin: 10px auto;
}

.btn {
  background-color: rgb(228, 133, 43);
  border-color: rgb(235, 136, 15) ;
}

.search-form {
  background-color:rgb(0, 123, 255) ;
  margin: 10px auto;
  border-color: rgb(21, 141, 174);

}

.weather-of-the-day{
font-size: larger;
margin-left: 20px;
}

.temperature {

  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-details {
  font-style: oblique;
  font-size: larger;
}


.col-2 {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}



.container {
  border-radius: 30px;
  border-style: groove;
  margin: 30px auto;
 margin-bottom: 30px;
 
 background-image: <img src="" />;
}



