h1 {
  color: rgb(193, 206, 220);
  text-align: center;
  margin: 10px auto;
  font-family:'Press Start 2P', cursive; ;
}

.btn {
  background-color: rgb(213, 202, 191);
  border-color: rgb(221, 213, 204) ;
}

.search-form {
  background-color:rgb(223, 228, 234) ;
  margin: 10px auto;
  border-color: rgb(211, 199, 199);

}

.weather-of-the-day{
font-size: larger;
margin-left: 20px;
}

.temperature {

  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 100;
  
  
}

.weather-details {
  font-style: oblique;
  font-size: larger;
  
}


.col-2 {

  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: smaller;


}

.weather-forecast{
  
 border-style: groove;
  font-size: larger;
  color:  #0f0f0f;
  background-color: #ffffff61;
}

.container {
  border-radius: 30px;
  border-style: groove;
  margin: 30px auto;
 margin-bottom: 30px;
 font-family:'Press Start 2P', cursive; ;
background-image: url(newsunset.jpg);

 background-repeat: no-repeat;
 background-size: cover;
} 
 
.githublink{
  color: aliceblue;
}

